/* Texto em parágrafos */
html {
    background-color: #000000;
  }

  a  {
    color:yellow; text-decoration:none;
  }


  p {
    color: white;
    text-align:center;
    margin-top: 3px;
    margin-bottom: 2px;
   }


   .C0 {
	border-left: none;
	background-color:#00ff99;
	text-align:center;
	font-weight:bold;color:#000000;
	font-family:'Arial';font-weight:bold;font-size:28pt;
	vertical-align:middle;
	white-space:nowrap;direction:ltr;
	padding:2px 3px 2px 3px;

	}


H4 {
    color: white;
    text-align:center;
    margin-top: 3px;
	margin-bottom: 2px;
	face:Verdana; 
	size:9pt;
   }


/* Define a cor verde para o texto ✔ */
.success {
     color: green;
}

/* Define a cor vermelha para o texto ✘ */
.error {
     color: red;
}


S1 {
	text-align: center; 
	vertical-align: middle; 
	background-color: black; width: 20px;
	}
 

S30 {
   text-align: center; 
   vertical-align: middle; 
   background-color: black; width: 30px;
   }


/* Parte interna de tabelas */
TD {  text-align:center;
      BORDER:1;  
      BGCOLOR:black 
    }

font {
        face:Arial; font-weight:bold; font-size:16pt; color:white;
    }




.BTimg 
{
	height: 18px;
	width:	25px;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	font: Verdana; 
	font-size:16pt;
	color: #ff8c00;
	background-color: black;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}



/* ==
   == BOTÃO PEQUENO PADRÃO DE CONTROLES 
   == 
*/
.btclass {
	-moz-box-shadow:inset 0px 1px 0px 0px #000000;
	-webkit-box-shadow:inset 0px 1px 0px 0px #000000;
	box-shadow:inset 0px 1px 0px 0px #000000;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #000000 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000');
	background-color:#000000;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	display:inline-block;
	color:#ff8c00;
	font-family:Impact;
	font-size:16pt;
	font-weight:bold;
	font-style:normal;
	height:32px;
	line-height:32px;
	width:50px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #000000;
	letter-spacing:-2px;
}
.btclass:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #000000 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000');
	background-color:#000000;
}.btclass:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */



/* ==
   == BOTÃO GRANDE DE TEXTO
   == 
*/
.btgrande {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	-webkit-border-top-left-radius:4px;
	-moz-border-radius-topleft:4px;
	border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
	-moz-border-radius-topright:4px;
	border-top-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-radius-bottomright:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-bottomleft:4px;
	border-bottom-left-radius:4px;
	text-indent:0;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#000000;
	font-family:Verdana;
	font-size:16pt;
	font-weight:bold;
	font-style:normal;
	height:12px;
	line-height:12px;
	width:53px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cc9f52;
}
.btgrande:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
}.btgrande:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */
	




/* ==
   == BOTÃO GRANDE PADRÃO DE AÇÃO  (http://css3button.net/)
   == 
*/
.btaction {
	font-family: Arial, Helvetica, sans-serif;
	font-size:16pt;
	color: #ff8c00;
	padding: 0px 0px;
	background: -moz-linear-gradient(
		top,
		#000000 0%,
		#0a0a0a);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#000000),
		to(#0a0a0a));
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	border: 0px solid #080808;
	-moz-box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(0,0,0,0);
	-webkit-box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(0,0,0,0);
	box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(0,0,0,0);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}




/* ==
   == BOTÃO MÉDIO DE TEXTO
   == 
*/
.btmedio {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	-webkit-border-top-left-radius:2px;
	-moz-border-radius-topleft:2px;
	border-top-left-radius:2px;
	-webkit-border-top-right-radius:2px;
	-moz-border-radius-topright:2px;
	border-top-right-radius:2px;
	-webkit-border-bottom-right-radius:2px;
	-moz-border-radius-bottomright:2px;
	border-bottom-right-radius:2px;
	-webkit-border-bottom-left-radius:2px;
	-moz-border-radius-bottomleft:2px;
	border-bottom-left-radius:2px;
	text-indent:0;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#000000;
	font-family:Verdana;
	font-size:16pt;
	font-weight:bold;
	font-style:normal;
	height:10px;
	line-height:12px;
	width:30px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cc9f52;
}
.btmedio:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
}.btmedio:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */
	


/* ==
   == BOTÃO GRANDE DE TEXTO
   == 
*/
.btpeq {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	-webkit-border-top-left-radius:2px;
	-moz-border-radius-topleft:2px;
	border-top-left-radius:2px;
	-webkit-border-top-right-radius:2px;
	-moz-border-radius-topright:2px;
	border-top-right-radius:2px;
	-webkit-border-bottom-right-radius:2px;
	-moz-border-radius-bottomright:2px;
	border-bottom-right-radius:2px;
	-webkit-border-bottom-left-radius:2px;
	-moz-border-radius-bottomleft:2px;
	border-bottom-left-radius:2px;
	text-indent:0;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#000000;
	font-family:Verdana;
	font-size:16pt;
	font-weight:bold;
	font-style:normal;
	height:10px;
	line-height:12px;
	width:20px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cc9f52;
}
.btpeq:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
}.btpeq:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */



/*            R E F E R Ê N C I A S
              =====================

https://www.hostinger.com.br/tutoriais/diferenca-entre-estilos-css/#gref 

https://developer.mozilla.org/pt-BR/docs/Aprender/Getting_started_with_the_web/CSS_basico

*/


